body {
    background-color: #041b38;
    color: #ffff;
}

.bg {
    background-image: url("img/servers.jpg");
    height: 100vh;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topText {
    font-family: 'Beau Rivage', cursive;
    font-size: 3rem;
    padding-right: 15%;
}

.bottomText {
    font-family: 'Beau Rivage', cursive;
    
    font-size: 3rem;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.fs-3 {
    font-family: 'Open Sans', sans-serif;
}

.fs-1 {
    font-family: 'Open Sans', sans-serif;
}